<!-- ユーザーの詳細 -->

<%= render 'books/template', user:@user %>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div class="row">
  <%= link_to book_path(book.id) do %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <% end %>

  <p>ショップ名：<%= book.title %></p>
  <p>説明：<%= book.body %></p>
  <p>name：<%= book.user.name %></p>
</div>
<% end %>