<div>
  <%= flash[:notice] %>
</div>

<!-- ユーザーの詳細 -->
<%= render 'books/template', user: @user %>

<!-- ユーザーの投稿一覧 -->
<h2>Books</h2>
<table>
  <% @books.each do |book| %>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= image_tag book.user.get_profile_image(100,100) %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
        <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>