<!--部分テンプレート-->

<h1>User info</h1>
 <%= image_tag user.get_profile_image(100, 100) %>
<table>
 <tr>
  <th>name</th>
  <td><%= user.name %></td>
 </tr>

 <tr>
  <th>introduction</th>
  <td><%= user.introduction %></td>
 </tr>
 </table>
 <script src="https://kit.fontawesome.com/6a0a4dcc4e.js" crossorigin="anonymous"></script>
 <p>
  <% if user == current_user %>
   <i class="fa-solid fa-user-gear"></i>
   <%= link_to 'edit', edit_user_path(current_user.id) %>
  <% end %>
 </p>
  <div class="social"></div>


<h1>New book</h1>
<!-- form_with部分 -->
<%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  　<%= f.text_field :title %>

  <h4>Opinion</h4>
  　<%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>